.lt-premium-errors-teaser {
    padding: 0 12px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    background: #e99923;
    background-size: cover;
    text-decoration: none;
	transition: background-color 0.25s;
}

.lt-premium-errors-teaser:hover {
    background-color: #E97E08;
}

.lt-premium-errors-teaser__text {
    color: #fff;
    flex: 1;
    margin-right: 14px;
}

.lt-premium-errors-teaser__text strong {
    font-weight: 600;
}

.lt-premium-errors-teaser__button {
    background: #fff url(../../assets/images/new_window_orange.svg) no-repeat calc(100% - 7px) 8px;
    background-size: 14px 14px;
    border-radius: 8px;
    white-space: nowrap;
    line-height: 28px;
    padding: 0 8px;
    font-weight: 600;
    color: #e99923;
    padding-right: 24px;
	transition: color 0.25s;
}

.lt-premium-errors-teaser__button:hover {
    color: #E97E08;
}