html {
	scroll-behavior: smooth;
}

.headline {
	font-size: 48px;
	font-weight: bold;
	line-height: 1.4;
	margin-bottom: 20px;
}

.headline--1 {
	font-size: 64px;
	font-weight: 900;
	line-height: 80px;
	max-width: 680px;
	display: inline-block;
}

@media screen and (max-width: 600px), screen and (max-height: 800px) {
	.headline--1 {
		font-size: 48px;
		line-height: 64px;
	}
}

.headline--1,
.headline--2 {
	background: rgb(245, 165, 35);
	background: linear-gradient(90deg, rgba(245, 165, 35, 1) 0%, rgba(233, 98, 0, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.headline--3 {
	font-size: 24px;
}

.paragraph {
	font-size: 20px;
	line-height: 1.5;
	color: #323235;
	padding: 0 0 40px 0;
	margin: 0;
}

.paragraph--2 {
	color: #717482;
}

.paragraph--3 {
	font-size: 18px;
	color: #717482;
	padding: 0 0 20px 0;
}

.link {
	font-size: 18px;
	line-height: 24px;
	color: #45A8FC;
	text-decoration: none;
	cursor: pointer;
	transition: color 0.2s;
}

.link:hover {
	color: #1978F0;
}

.center {
	text-align: center;
}

.btn-primary {
	background: #45A8FC;
	padding: 14px 16px;
	border-radius: 4px;
	font-weight: bold;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	transition: background-color 0.2s;
}

.btn-primary:hover {
	background: #1978F0;
}

.premium-tag {
	text-transform: uppercase;
	color: #E96200;
	background: #FFF2E5;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	padding: 6px 12px;
	border-radius: 40px;
	text-decoration: none;
	transition: box-shadow 0.2s;
}

.premium-tag:hover {
	box-shadow: inset 0 0 0 2px #E96200;
}

.lt-hint {
	font-size: 16px;
	line-height: 24px;
	padding: 10px 20px 10px 40px;
	border-radius: 56px;
	box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
	display: inline-block;
	background-image: url("images/changelog_icon_lt.svg");
	background-size: 24px 24px;
	background-position: 8px center;
	background-repeat: no-repeat;
}

section {
	padding: 100px 0;
}

.gradient {
	background: rgb(248, 249, 252);
	background: linear-gradient(0deg, rgba(248, 249, 252, 1) 00%, rgba(255, 255, 255, 1) 100%);
}

.gray {
	background: #F8F9Fc;
}

.section--services {
	padding-bottom: 400px;
	background-position: center bottom;
	background-size: 1260px 400px;
	background-repeat: repeat-x;
	background-image: url("images/changelog-background_services.png");
}

.content-wrapper {
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	width: 100%;
	max-width: 1100px;
}

.text-wrapper {
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
	max-width: 720px;
}

.divider-image {
	width: 100%;
	height: 480px;
	background-image: url("images/changelog-background_confetti.jpg");
	background-size: cover;
	margin-top: -240px;
	position: relative;
	z-index: -1;
	overflow: hidden;
}

.divider-image::before,
.divider-image::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
}

.divider-image::before {
	border-top: 60px solid #fff;
	border-right: 100vw solid transparent;
	top: 0;
	left: 0;
}

.divider-image::after {
	border-bottom: 60px solid #fff;
	border-left: 100vw solid transparent;
	bottom: 0;
	right: 0;
}

.navigation {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	border-bottom: solid 1px #F0F2F7;
	background: #fff;
	padding: 0 20px;
	box-sizing: border-box;
	cursor: pointer;
	transition: background-color 0.2s;
}

.navigation-link {
	text-decoration: none;
	color: #323235;
}

.navigation:hover {
	background: #FFF2E5;
}

.navigation:hover .navigation__count-down__diget {
	background: #fff;
}

.navigation-wrapper {
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.navigation__logo {
	top: 20px;
	left: 14px;
	background: url(../assets/images/lt-logo.svg) 0 center no-repeat;
	background-size: auto 52px;
	padding-left: 64px;
	font-size: 16px;
	min-height: 40px;
}

.name {
	font-weight: 600;
}

.slogan {
	color: #777;
}

.navigation__teaser {
	display: flex;
	align-items: center;
}

.navigation__teaser__discount {
	display: flex;
	align-items: center;
	padding-right: 12px;
	border-right: 1px solid #F0F2F7;
	margin-right: 12px;
}

.number-stack {
	display: flex;
	flex-direction: column;
}

.navigation__teaser__discount .navigation__teaser__discount__number {
	color: #E96200;
	font-weight: bold;
	font-size: 44px;
	margin-right: 4px;
}

.navigation__teaser__discount .navigation__teaser__discount__percentage,
.navigation__teaser__discount .navigation__teaser__discount__off {
	font-weight: bold;
	color: #F5A523;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}

.navigation__teaser__text .navigation__teaser__text__headline,
.navigation__teaser__text .navigation__teaser__text__subline {
	font-size: 18px;
	line-height: 24px;
	padding: 0;
	margin: 0;
}

.navigation__teaser__text .navigation__teaser__text__subline {
	margin-right: 4px;
}

.navigation__teaser__text .link {
	color: #F5A523;
	font-weight: bold;
}

.navigation__teaser__text .link:hover {
	color: #E96200;
}

.timer {
	display: flex;
	flex-direction: column;
}

.timer .timer__labels {
	display: flex;
	align-content: space-between;
	margin-top: 4px;
	color: #717482;
}

.timer .timer__labels .timer__labels__label {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	text-align: center;
	margin-right: 12px;
}

.timer .timer__labels .timer__labels__label:last-child {
	margin-right: 0;
}

.navigation__count-down {
	line-height: 36px;
	font-size: 20px;
	font-weight: bold;
	color: #E96200;
	font-family: "RobotoMono", Courier, monospace;
}

.navigation__count-down__divider {
	width: 12px;
	margin-left: -4px;
}

.navigation__count-down__diget {
	display: inline-block;
	height: 36px;
	width: 24px;
	background: #FFF2E5;
	text-align: center;
	margin-right: 4px;
	border-radius: 4px;
	transition: background-color 0.2s;
}

.navigation__count-down__diget:last-child {
	margin-right: 0;
}

.visual {
	width: 100%;
	height: auto;
}

.visual.shadow {
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
}

.header {
	padding-top: 120px;
}

.header__cards {
	display: flex;
	padding: 0;
	margin: 0;
}

.header__cards__card {
	list-style: none;
	padding: 120px 20px 20px 20px;
	margin: 0 20px 0 0;
	border-radius: 12px;
	box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
	text-align: left;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-size: 100px 100px;
	background-position: 20px 20px;
	background-repeat: no-repeat;
	flex-basis: 0;
	flex-grow: 1;
}

.header__cards__card .link {
	font-weight: bold;
}

.header__cards__card.header__cards__card--editor {
	background-image: url("images/changelog-illustration_editor.png");
}

.header__cards__card.header__cards__card--team {
	background-image: url("images/changelog-illustration_team.png");
}

.header__cards__card.header__cards__card--style {
	background-image: url("images/changelog-illustration_style.png");
}

.header__cards__card.header__cards__card--translate {
	background-image: url("images/changelog-illustration_translate.png");
}

.header__cards__card.header__cards__card--spanish {
	background-image: url("images/changelog-illustration_spanish.png");
}

.header__cards__card.header__cards__card--app {
	background-image: url("images/changelog-illustration_app.png");
}

.header__cards__card.header__cards__card--overleaf {
	background-image: url("images/changelog-illustration_overleaf.png");
}

.header__cards__card.header__cards__card--slides {
	background-image: url("images/changelog-illustration_slides.png");
}

.header__cards__card:last-child {
	margin: 0;
}

.section--split__columns {
	display: flex;
	align-items: center;
}

.section--split__columns .headline--2 {
	max-width: 420px;
}

.section--split__columns .section--split__columns__column {
	width: 50%;
	box-sizing: border-box;
	margin: 0;
}

.section--split:nth-child(odd) .section--split__columns {
	flex-direction: row-reverse;
}

.section--split:nth-child(even) .section--split__columns .section--split__columns__column:nth-child(1) {
	margin: 0 60px 0 0;
}

.section--split:nth-child(odd) .section--split__columns .section--split__columns__column:nth-child(2) {
	margin: 0 60px 0 0;
}

.section--split:last-child .section--split__columns {
	background: #F8F9Fc;
}

.made-in-eu {
	text-align: center;
	padding: 40px;
	font-size: 18px;
	line-height: 24px;
	background: #F8F9FC;
}

.made-in-eu .made-in-eu__flag {
	line-height: 24px;
	position: relative;
	display: inline-block;
	padding: 8px 48px 8px;
	background-image: url("images/eu_flag.svg");
	background-size: 32px 32px;
	background-position: 0 4px;
	background-repeat: no-repeat;
}

/* Hide/Show country specific sections */

.section--spanish,
.section--translate,
.header__cards__card--spanish,
.header__cards__card--translate {
	display: none;
}

.de-user .section--translate,
.de-user .header__cards__card--translate {
	display: flex;
}

.es-user .section--spanish,
.es-user .header__cards__card--spanish {
	display: flex;
}

.de-user .header__cards__card--team,
.es-user .header__cards__card--team {
	display: none;
}

/* Responsive */

@media only screen and (max-width: 1200px) {
	.navigation__teaser__text__subline {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.navigation__logo .name,
	.navigation__logo .slogan {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	.header__cards,
	.section--split {
		flex-direction: column;
	}

	.section--split__columns {
		flex-direction: column !important;
	}

	.header__cards__card,
	.section--split__columns .section--split__columns__column {
		width: 100%;
		box-sizing: border-box;
		margin: 0 0 40px 0 !important;
	}

	.section--split__columns .section--split__columns__column {
		text-align: center;
	}

	.visual {
		margin-top: 20px;
	}

	section {
		padding: 40px 0;
	}

	.navigation__teaser__text {
		display: none;
	}

	.navigation__teaser__discount {
		display: none;
	}
}